<h1>TODO: Update UI and add logic to find account balance</h1>

<form class="form-inline" #loginform="ngForm" (ngSubmit)="updateEmployee()">

  <div class="form-group">
    <label for="employeeId">Employee ID</label>
    <input class="form-control" name="employeeId" [(ngModel)] ="transactions.accountNo" />
  </div>

    <li>Create/reuse a reusable search component(use it here to account balance search Account No)<li>
    	<li>Add the results (Account No and Account Balance) below<li>

        <button (click)="updateEmployee( gotoList())" class="btn btn-info">CheckBalance</button>
</form>
<div>
  <p>Account No: {{accountNo}}</p>
  <p>Account Balance: {{transactions.accountBalance}}</p>
</div>
