<h1>TODO: Update UI and add Customers list here</h1>
<ol>
  <li>
    NB: Customer A/c and Customer A/c Balance(From Accounts table) are required
    for every Customer. Update the API accordingly to return the expected data.
  </li>
  <li>Create/reuse a reusable search component(use it here to search by Customer Id)<li>
    <li>Display the search results below</li>
</ol>
<div>
  <input type="text" name="first_name" [(ngModel)]="first_name" (ngModelChange)="Search()" placeholder="search">
  <!-- <input  type="text" (keyup)="searchTerm.next($event)" placeholder="Search.." > -->
  <!-- <button (click)="zoneName$.next(name.value)" type="submit"></button> -->
</div>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Customer Id</th>
      <th>Customer A/c</th>
      <th>Customer A/c Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customers of customers | async ">
      <!-- <tr *ngFor="let customers of searchResult$ | async; let i = index"></tr> -->
      <td>{{customers.first_name}}</td>
      <td>{{customers.last_name}}</td>
      <td>{{customers.email}}</td>
      <td>{{customers.customer_id}}</td>
      <td>{{customers.account_no}}</td>
      <td>{{customers.balance}}</td>
    </tr>
  </tbody>
</table>
